@(users: Seq[User])

<!DOCTYPE html>

<html>
    <head>
        <title>users</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <h2>Previously inserted users:</h2>
        <table>
            <tr><th>Name</th><th>Color</th></tr>
            @for(u <- users){
                <tr><td>@u.username</td></tr>
            }
        </table>
    </body>
</html>